<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <clear />
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="RapidStreamer" value="http://185.215.244.94:37080/v3/index.json" protocolVersion="3"
             allowInsecureConnections="true" />
    </packageSources>
    <apikeys>
        <add key="http://185.215.244.94:37080/v3/index.json"
             value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAE8OpqPZw0UyCRCDfw6qgRQAAAAACAAAAAAAQZgAAAAEAACAAAABBSgB9JYeOCCfFGTynj+FgYfr0QUmOQOaeRsltk6QcXQAAAAAOgAAAAAIAACAAAAAhlaHifgEZdNsPXgXdWkPQd1LXndaRpq5taCi/KwDxUzAAAAAZLTU9oGHaZJHDwfrdAK1E0v0PKGBMJMM28g3QBxDztYpf/AlDsAg8ugZNRuXCgfhAAAAA+AmDA4nWcf6Fi2Pra6LncfxGo7ql3O8T+MicfcMWF+sCdmZ/7z+9p/JCv0eKHkbFqC5HpyJuQv4rMGYgUf/rfQ==" />
    </apikeys>
</configuration>